<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url('https://img.freepik.com/vector-gratis/plantilla-banner-ventas-tendencias-moda_23-2150769839.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__pulse">Bienvenido</h2>
                        <p class="animate__animated animate__pulse">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis doloribus ad amet nulla blanditiis dolor, aliquam quas qui maxime dicta sequi, ducimus modi ea, debitis voluptate! Repellat, et eaque?</p>
                        <button class="animate__animated animate__bounce" mat-raised-button>Ver más</button>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url('https://img.freepik.com/vector-gratis/banner-horizontal-geometrico-diseno-plano_23-2149968375.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__bounce">Compra en línea</h2>
                        <p class="animate__animated animate__bounce">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis doloribus ad amet nulla blanditiis dolor, aliquam quas qui maxime dicta sequi, ducimus modi ea, debitis voluptate! Repellat, et eaque?</p>
                        <button class="animate__animated animate__bounce animate__faster" mat-raised-button>Ver más</button>
                    </div>
                </div>
            </div>        
            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url('https://img.freepik.com/vector-gratis/banner-horizontal-geometrico-diseno-plano_23-2149968427.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__bounce">Ventas</h2>
                        <p class="animate__animated animate__bounce">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            ducimus modi ea, debitis voluptate! Repellat, et eaque?</p>
                        <button class="animate__animated animate__bounce animate__faster" mat-raised-button>Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left"></span>
        </a>
        <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right"></span>
        </a>
    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor</h3>
            <p>
                animi sequi, fugiat distinctio sunt corporis iste quaerat aliquam.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor</h3>
            <p>
                fugiat distinctio sunt corporis iste quaerat aliquam.
            </p>            
        </div>
    </div>
</div>
